body,html {
	margin:5;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 850px 1fr;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"sidebar content"
    "search bar";
}

/* SEARCH BAR STUFF*/
.search_bar {
    grid-area: sidebar;
    padding: 5px;
    background-color:rosybrown;
}

.search_bar input[type="text"] {
    position:relative;
    left:0%;
    top:25%;
    width:60%;
    background-color:white;
    color:grey;
    border-radius: 20px;
    padding:2%;
}

.search_bar button{
    background-color: hsl(0, 0%, 27%);
    color: #f2f2f2;
    float:none;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border-radius: 10px;
    border:orange;
    cursor: pointer;
}

/* END SEARCH BAR STUFF*/


.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: #555;
	overflow: auto;
}

.sidebar-item {
	padding: 10px; 
    background: rgb(185, 29, 29); 
    border: 1px solid rgb(34, 34, 34); 
    margin: 5px; 
	border-radius: 12px;
		cursor: pointer; 
	transition-duration: 0.4s;
}

.content {
	padding:5px;
	grid-area: content;
}

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.map-item {
    border: 1px solid #333;
    padding: 10px;
    background-color: #111;
}