body,html {
	margin:5;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 850px 1fr;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"sidebar content"
}


.sidebar {
	color: white;
	grid-area: sidebar;
	padding:0px;
	background-color: #555;
	overflow: auto;
}

.content {
	padding:5px;
	grid-area: content;
}