body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 600px 1fr 300px;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"sidebar content"
  "dashboard dashboard";
}

sidebar .search-container {
	grid-area: sidebar;
    padding: 5px;
    background-color:rgb(185, 29, 29);
	border-radius: 30px;
  }
  
  .search-container input {
	position:relative;
    left:0%;
    top:25%;
    width:75%;
    background-color:white;
    color:grey;
    border-radius: 20px;
    padding:2%;
  }
  
  .search-container button {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 50px;
  }
  
  .search-container button{
	background-color: hsl(0, 0%, 27%);
    color: #f2f2f2;
    float:none;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border-radius: 10px;
    border:orange;
    cursor: pointer;
  }

/* SEARCH BAR STUFF*/
/*sidebar .search_bar {
    grid-area: sidebar;
    padding: 5px;
    background-color:rgb(185, 29, 29);
	border-radius: 30px;
}

/*.search_bar input[type="text"] {
    position:relative;
    left:0%;
    top:25%;
    width:75%;
    background-color:white;
    color:grey;
    border-radius: 20px;
    padding:2%;
}

/*.search_bar button{
    background-color: hsl(0, 0%, 100%);
    color: #f2f2f2;
    float:none;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border-radius: 10px;
    border:orange;
    cursor: pointer;
}

/* END SEARCH BAR STUFF*/


.sidebar {
	color: rgb(255, 255, 255);
	grid-area: sidebar;
	padding:10px;
	background-color: #555;
	overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
}

.sidebar-item {
	padding: 10px; 
    background: rgb(185, 29, 29); 
    border: 1px solid rgb(34, 34, 34); 
    margin: 5px; 
	border-radius: 12px;
		cursor: pointer; 
	transition-duration: 0.4s;
}

.content {
	padding:5px;
	grid-area: content;
  border-radius: 12px;
  border-color: #111;
}

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.map-item {
    border: 1px solid #333;
    padding: 10px;
    background-color: #111;
}

.dashboard {
  grid-area: dashboard;
  color: rgb(0, 0, 0);
	padding:5px;
  border-radius: 12px;
	background-color: rgb(0, 0, 0);
	overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  :rgb(194, 20, 20)

}
}
